<h1>Welcome to the Favorite Streamers App</h1><br>
<p>This app is to keep track of the streamers you watch and the games they play</p><br>

<h3>Menu</h3>

<li><a href="/streamers/new">Add a new streamer</a></li>
<li><a href="/streamers">See your favorite streamers</a></li>
<li><a href="/games">See the games you watch</a></li>