<h1>Welcome to the Favorite Streamers App</h1><br>
<p>This app is to keep track of the streamers you watch and the games they play</p><br>

<h3>Add a new streamer</h3>
<h3>See your favorite streamers</h3>
<h3>See the games you watch</h3>